PORT=3009
DB_LINK=postgresql://user:password@127.0.0.1:5434/dbName?sslmode=disable
ACCESS_TOKEN_SECRET=accessSecret
REFRESH_TOKEN_SECRET=refreshSecret
CACHE_LINK=redis://user:password@127.0.0.1:6379
HOST_EMAIL=email
PASSWORD_EMAIL=password
HOST_LINK=http://127.0.0.1:3009/
